@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700 */
* {
	@apply transition-colors duration-75;
}
body {
	font-family: "Montserrat", sans-serif;
}
@font-face {
	font-family: "Montserrat", sans-serif;
	src: url("/fonts/Montserrat-Google-Fonts.woff2") format("woff2");
}

@font-face {
	font-family: "Oswald", sans-serif;
	src: url("/fonts/Oswald-Google-Fonts.woff2");
}
@layer utilities {
}
